body {
    margin: 0px;
}

.navbar_wrapper {
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: left;
}

.emptyspacebar {
    height: 40px;
    background-color: rgb(1, 1, 27);
}

.links_wrappers {
    justify-content: flex-end
}

.menu_items {}

.social_media_handle {
    height: 1;
    text-align: end;
    display: flex;
    flex-direction: row-reverse;
}

.page_pics2 {
    text-align: start;
}

.page_pics {
    text-align: end;
}

.page_name {
    display: flex;
    justify-content: left;
    font-style: italic;
    height: 10;
}